
@{
    ViewBag.Title = "Blog";
    Layout = "~/Views/Shared/Front/_LayoutbasicFront.cshtml";
}

<header class="page-header wow fadeInUp" data-wow-delay="0.5s" data-background=url('/Templates/Front/img/page-header.jpg')>
    <div class="container">
        <h2>Blog</h2>
        <div class="bosluk3"></div>
        <p><a href="@Url.Action("Blog", "Home")">Home</a> <i class="flaticon-right-chevron"></i> Blog </p>
    </div>
    <!-- end container -->
</header>
<main>
    <!--Recent Posts 1-->
    <section class="news-alani-sayfa">
        <div class="h-yazi-ortalama h-yazi-margin-orta-3">
            <h2 class="h2-baslik-hizmetler-2"> Security Blog </h2>
        </div>
        <p class="h2-baslik-hizmetler-2__paragraf">
            We care about you. Take advantage of the information that will ensure your safety.
        </p><br>
        <div class="bosluk9"></div>
        <div class="tablohizmetler">
            <div class="tablo--1-ve-3" data-tilt>
                <div class="post-kutu" onclick="location.href='what-should-you-do-when-a-thief-enters-your-home.html';" style="cursor:pointer;">
                    <img src="~/Templates/Front/img/news1.png" alt="Haber 1" class="haber-gorsel">
                    <div class="datesection"><span class="date">02.02.2022</span>&nbsp;<span class="tt">-</span>&nbsp;<span class="category">Security</span></div>
                    <h3 class="baslik-3 h-yazi-margin-kucuk">What should you do when a thief enters your home?</h3>
                    <p class="post-kutu--yazi">
                        Although the theft rates that occur fluctuate over time, the possibility of an intruder ...
                    </p>
                    <div class="h-yazi-ortalama h-yazi-margin-50">
                        <a href="what-should-you-do-when-a-thief-enters-your-home.html" class="custom-button">More</a>
                    </div>
                </div>
            </div>
            <!--post 2-->
            <div class="tablo--1-ve-3" data-tilt>
                <div class="post-kutu" onclick="location.href='home-security-tips-by-room.html';" style="cursor:pointer;">
                    <img src="~/Templates/Front/img/news2.png" alt="Haber 2" class="haber-gorsel">
                    <div class="datesection"><span class="date">02.02.2022</span>&nbsp;<span class="tt">-</span>&nbsp;<span class="category">Security</span></div>
                    <h3 class="baslik-3 h-yazi-margin-kucuk">Home Security Tips by Room</h3>
                    <p class="post-kutu--yazi">
                        Although our homes are generally a safe place, it always carries some risks if we are not ...
                    </p>
                    <div class="h-yazi-ortalama h-yazi-margin-50">
                        <a href="home-security-tips-by-room.html" class="custom-button">More</a>
                    </div>
                </div>
            </div>
            <!--post 3-->
            <div class="tablo--1-ve-3" data-tilt>
                <div class="post-kutu" onclick="location.href='you-can-overcome-your-fear-of-loneliness.html';" style="cursor:pointer;">
                    <img src="~/Templates/Front/img/news3.png" alt="Haber 3" class="haber-gorsel">
                    <div class="datesection"><span class="date">02.02.2022</span>&nbsp;<span class="tt">-</span>&nbsp;<span class="category">Security</span></div>
                    <h3 class="baslik-3 h-yazi-margin-kucuk">You Can Overcome Your Fear of Loneliness</h3>
                    <p class="post-kutu--yazi">
                        Loneliness, which most of us regard as a precious gift from which we can nurture our inner ...
                    </p>
                    <div class="h-yazi-ortalama h-yazi-margin-50">
                        <a href="you-can-overcome-your-fear-of-loneliness.html" class="custom-button">More</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="alanb"></div>
        <!--post 4-->
        <div class="tablohizmetler">
            <div class="tablo--1-ve-3" data-tilt>
                <div class="post-kutu" onclick="location.href='what-are-the-home-security-mistakes-that-put-your-home-at-risk.html';" style="cursor:pointer;">
                    <img src="~/Templates/Front/img/news4.png" alt="Haber 1" class="haber-gorsel">
                    <div class="datesection"><span class="date">02.02.2022</span>&nbsp;<span class="tt">-</span>&nbsp;<span class="category">Security</span></div>
                    <h3 class="baslik-3 h-yazi-margin-kucuk">What are the Home Security Mistakes That Put Your Home At Risk?</h3>
                    <p class="post-kutu--yazi">
                        “How did they get in?” Instead of thinking, “What could I have done to prevent this situation?” or ...
                    </p>
                    <div class="h-yazi-ortalama h-yazi-margin-50">
                        <a href="what-are-the-home-security-mistakes-that-put-your-home-at-risk.html" class="custom-button">More</a>
                    </div>
                </div>
            </div>
            <!--post 5-->
            <div class="tablo--1-ve-3" data-tilt>
                <div class="post-kutu" onclick="location.href='ways-to-increase-the-effectiveness-of-your-workplace-security-system.html';" style="cursor:pointer;">
                    <img src="~/Templates/Front/img/news5.png" alt="Haber 2" class="haber-gorsel">
                    <div class="datesection"><span class="date">02.02.2022</span>&nbsp;<span class="tt">-</span>&nbsp;<span class="category">Security</span></div>
                    <h3 class="baslik-3 h-yazi-margin-kucuk">Ways to Increase the Effectiveness of Your Workplace Security System</h3>
                    <p class="post-kutu--yazi">
                        Managing all company operations while keeping a business afloat will probably take up most of your time ...
                    </p>
                    <div class="h-yazi-ortalama h-yazi-margin-50">
                        <a href="ways-to-increase-the-effectiveness-of-your-workplace-security-system.html" class="custom-button">More</a>
                    </div>
                </div>
            </div>
            <!--post 6-->
            <div class="tablo--1-ve-3" data-tilt>
                <div class="post-kutu" onclick="location.href='where-do-thieves-look-first-in-the-houses-they-enter.html';" style="cursor:pointer;">
                    <img src="~/Templates/Front/img/news6.png" alt="Haber 3" class="haber-gorsel">
                    <div class="datesection"><span class="date">02.02.2022</span>&nbsp;<span class="tt">-</span>&nbsp;<span class="category">Security</span></div>
                    <h3 class="baslik-3 h-yazi-margin-kucuk">Where Do Thieves Look First in the Houses They Enter?</h3>
                    <p class="post-kutu--yazi">
                        No matter how well you hide your valuables, an experienced thief will no doubt do their best to find them in ...
                    </p>
                    <div class="h-yazi-ortalama h-yazi-margin-50">
                        <a href="where-do-thieves-look-first-in-the-houses-they-enter.html" class="custom-button">More</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="blogcount">
            <p class="countb"> 1</p>
            <p class="countb"><a href="blog-page-2.html">2</a></p>
            <p class="countb"><a href="blog-page-2.html">»</a></p>
        </div>
    </section>

