
@{
    ViewBag.Title = "Clients";
    Layout = "~/Views/Shared/Front/_LayoutbasicFront.cshtml";
}

<header class="page-header wow fadeInUp" data-wow-delay="0.5s" data-background=url('/Templates/Front/img/page-header.jpg')>
    <div class="container">
        <h2>Clients</h2>
        <div class="bosluk3"></div>
        <p><a href="@Url.Action("Clients", "Home")">Home</a> <i class="flaticon-right-chevron"></i> Clients </p>
    </div>
    <!-- end container -->
</header>
<main>
    <!--Markalar Alanı-->
    <div class="markalar-siyah wow fadeInUp" data-wow-delay="0.3s">
        <div class="h-yazi-ortalama h-yazi-margin-orta-3">
            <div class="icon"><i class="flaticon-badge"></i></div>
            <h2 class="h2-baslik-hizmetler-2 wow fadeInUp" data-wow-delay="0.4s"> <strong>Our Customers Who Make Us</strong> </h2>
        </div>
        <p class="h2-baslik-hizmetler-2__paragraf wow fadeInUp" data-wow-delay="0.5s">
            We work day and night for our customers and speed up their business processes.
        </p>
        <div class="bosluk3"></div>
        <div class="h-yazi-ortalama h-yazi-margin-kucuk-21 wow fade">
            <img src="~/Templates/Front/img/client11.png" alt="Marka 1" class="marka">
            <img src="~/Templates/Front/img/client22.png" alt="Marka 2" class="marka">
            <img src="~/Templates/Front/img/client33.png" alt="Marka 3" class="marka">
            <img src="~/Templates/Front/img/client44.png" alt="Marka 4" class="marka">
            <img src="~/Templates/Front/img/client55.png" alt="Marka 5" class="marka">
            <div class="bosluk333"></div>
            <img src="~/Templates/Front/img/client66.png" alt="Marka 5" class="marka">
            <img src="~/Templates/Front/img/client77.png" alt="Marka 5" class="marka">
            <img src="~/Templates/Front/img/client88.png" alt="Marka 5" class="marka">
            <img src="~/Templates/Front/img/client99.png" alt="Marka 5" class="marka">
            <img src="~/Templates/Front/img/client100.png" alt="Marka 5" class="marka">

        </div>
    </div>

